<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= h(page_title) %></title>
    <%= stylesheet_link_tag "/stylesheets/theme/style.css", media: 'all' %>
    <%= render 'shared/page_header' %>
  </head>
  <body>
    <div class="page">
      <%= yield %>

      <footer>
        <ul>
          <li><%= link_to(this_blog.blog_subtitle, this_blog.base_url) %></li>
          <li><a href="/articles.rss">flux rss</a></li>
        </ul>
      </footer>

    </div>
  </body>
</html>
