<div id='page' class='container'>
  <article id="article-<%= article.id %>" class='h-entry hentry'>
  <h1><%= link_to_permalink article,article.title %></h1>
  <%= render 'articles/protected_article_content', { article: article } %>
  <div class="auth">
    <%= _("Posted by")%> <%= author_link(article) %>
    <%= l(article.published_at) %>
  </div>
  </article>
</div>
