<%- last_article = Article.published.first %>
<%- last_note = Note.first %>

<article class="presentation">
  <section class="header">
    <img src="/images/theme/portrait.jpeg" alt="portrait de Yannick François" class="portrait"/>
    <h1>Bonjour, Je&nbsp;m'appelle <a href="/">Yannick&nbsp;François</a>.</h1>
    <p>
    Je suis développeur depuis plus de 10 ans, avec quelques compétences d'adminSys, et une grosse envie de voir des équipes mettre en prod du code pour des clients heureux. <a href="/">Les pieds dans le code</a> est mon blog. Si vous souhaitez me contacter, n'hésitez pas à m'envoyer un email à <a href="mailto:yaf@elsif.fr">yaf@elsif.fr</a>
    </p>
  </section>

  <section>
    <h1 class="section-title">Partage</h1>
    <p>Il m'arrive de partager <%= link_to 'des pensées courtes', notes_path %> telles que celle-ci: <blockquote><%= last_note.html(:body) %></blockquote>, c'était le <%= l(last_note.published_at, format: :short) %>.</p>
    <p>J'essaie parfois de donner un peu plus de contenu, de proposer plus de matière au travers d'<%= link_to 'articles', archives_path %>. Mon dernier article:
    <blockquote><%= link_to last_article.title, last_article.permalink_url, class: 'big-link' %></blockquote>
    , publié le <time><%= l(last_article.published_at, format: :short) %></time>.</p>
  </section>

  <section>
    <h1 class="section-title">Inspiration</h1>
    <p>
    Pour parler de moi, je pense qu'il est également interessant de parler des personnes qui m'inspire, en voici quelques uns, dans une liste non ordonnée.
    <ul>
      <li><a href="http://pocketsensei.net">Ronan Amicel (Pocket Sensei)</a> un sensei de la fabrique de logiciel.</li>
      <li>Un poète de l'espace web: <a href="http://www.la-grange.net/">Karl Dubost</a>.</li>
      <li>Avec moins de poesie, mais tout autant d'avis passionant, <a href="https://larlet.fr/david/">David Larlet</a>.</li>
      <li><a href="http://ut7.fr">/ut7</a> est une coopérative de personnes très très inspirante sur des sujets diverses comme le code, les humains, la transmission de savoir, la découverte, ... Des personnes à rencontrer d'urgence</li>
      <li><a href="http://foldlabs.com/">Arnaud Bailly (FoldLabs)</a>, un très bon développeur, doublé d'une personne charmante, aux positions toujours passionante.</li>
      <li><a href="http://notarianni.org/">Bernard Notarianni</a>. Simplicité, franchise, passion, musique, le tout avec un bon pragmatisme qui me plais</li>
      <li>C'est après un Kata présenté par <a href="https://twitter.com/ToF_">@ToF_ (Christophe Thibaut)</a> à un apéro Ruby que j'ai passé quelques années au Dojo de développement. En plus d'être un bon développeur, il arrive toujours à proposer une autres façon de voir les choses.</li>
      <li>Et j'ajoute encore un développeur, secoueur de cocotier: <a href="http://blog.javabien.net/">David Gageot</a> qui, comme le nom de son blog l'indique (Java bien), est plutôt connu de l'univers Java et des JUG, mais je l'ai vu plus d'une fois exposé des chemins interessant sur des langages autres.</li>
      <li>...</li>
    </ul>
    </p>
  </section>
  <section>
    <h1 class="section-title">Mes petits cailloux</h1>
    <p>
    Je sème quelques cailloux un peu partout...
    <ul>
      <li>Quelques <a href="http://www.flickr.com/photos/yafra">photos [yafra sur flickr]</a></li>
      <li>D'autres sur <a href="http://500px.com/ya_f">500px</a></li>
      <li>Profil/CV sur <a href="http://fr.linkedin.com/in/yannickfrancois">Linkedin.com/in/yannickfrancois</a></li>
      <li>Profil/CV sur <a href="http://fr.viadeo.com/fr/profile/yannick.fran%C3%A7ois3">fr.viadeo.com/profile/yannick.françois3</a></li>
      <li>Un peu de code sur <a href="https://github.com/yaf">Github.com/yaf</a></li>
      <li>Quelques participations à <a href="http://github.com/fdv/publify">Publify</a>, le plus vieux moteur de blog en Rails</li>
    </ul>
    </p>
  </section>
</article>
