<h1 class='page-header'><%= @article.title %></h1>
<%= @article.html(:body) %>
<%= @article.html(:extended) %>

<p class='meta'>
Le <span class='p-date'><%= l(@article.published_at, format: :short) %></span> par <span class='p-author h-card'><%= link_to(@article.user.display_name, @blog.base_url) %></span>
</p>
