<div class='h-entry hentry h-as-note well well-small'>
  <% if @reply %>
    <%= render :partial => "note_reply_context", :object => @reply %>
  <% end %>

  <article class='status'>
    <div class='p-name entry-title e-content entry-content article'>
      <%= note.html(:body) %>
    </div>
    <div class="auth">
      <%= _("Posted by")%>
      <span class='p-author h-card'><%= note.user.nickname %></span>
      <%= l(note.published_at) %>
    </div>
  </article>
</div>

