body {
  font-size:1.6em;
  margin:0;padding:0 1em;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  background-color:#8f5715;
  color:#0A2A0A;
  text-align:center;
}

a { color:#38610B; font-weight:bold; }
a:hover { opacity:.6;}
a:visited { color:#0A2A0A; }
a:active, a:focus { background-color:#F3E2A9; }

img {
  max-width:100%;
}

.section-title {
  border-bottom:1px solid #0A2A0A;
}

.page {
  max-width:32em;
  margin:auto;
  text-align:left;
  background-color:#fff;
  margin:0 auto;
  padding:1em 2em;
}

.meta {
  padding:1em 0;
  font-style:italic;
}

footer {
  border-top:1px solid #0A2A0A;
  margin-top:1em;
  text-align:left;
}

.without-puce {
  clear:left;
  list-style:none;
  padding:0em;
}

.without-puce li{
  margin:1em 0;
  padding:0;
}

figure {
  background-color:#ddd;
  padding:1em;
  margin:0;
  word-wrap: break-word;
}

.index-article {
  border-left:1em solid #b35;
}

.index-note {
  border-left:1em solid #3b5;
}

figcaption {
  font-style:italic;
  margin:1em 0 .2em .2em;
}

.header {
  max-width:64em;
}

h1 {
  font-size:1.8em;
}

.page {
  text-align:left;
}

.portrait {
  margin-right:1em;
  float:left;
}

.title, .subtitle {
  margin-top:0;padding-top:0;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

@media screen and (max-width:640px){
  .header {
    text-align:center;
  }

  .portrait {
    margin:auto;
    float:none;
  }

  .page {
    max-width:100%;
    padding:1em;
  }
}

